services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: 1000:1000 
    ports:
      - "4533:4533"
    environment:
      ND_DEFAULTLANGUAGE: en 
      ND_LOGLEVEL: info
    volumes:
      - "~/navidrome/data:/data"
      - "~/Music:/music:ro"
    restart: unless-stopped
